<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Chicken Test</title>
</head>

<body>

<!-- menu -->
<div class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container">
        <div class="container">
            <button class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseMenu" role="button"
                    aria-expanded="false" aria-controls="collapseMenu"> Menu
            </button>
        </div>
        <div class="container text-center-center">
            <h1>Chicken Test</h1>
        </div>
        <div class="container">
            <h4 class="text-center" th:text="${currentDate}"></h4>
        </div>
    </div>
</div>

<div class="collapse sticky-top sticky-top" id="collapseMenu">
    <div class="card card-body">
        <div class="container">
            <div class="container row gap-2">
                <a type="button" class="btn-close col gx-5" data-bs-toggle="collapse" href="#collapseMenu" role="button"
                   aria-expanded="false" aria-controls="collapseMenu"></a>
                <a href="/balances/list" class="btn btn-primary btn-sm mb-3 col p-2">Balances</a>
                <a href="/chickens/list" class="btn btn-warning btn-sm mb-3 col p-2">Chickens</a>
                <a href="/eggs/list" class="btn btn-warning btn-sm mb-3 col p-2">Eggs</a>
                <a href="/logs/list" class="btn btn-danger btn-sm mb-3 col p-2">Logs</a>
                <a href="/products/list" class="btn btn-primary btn-sm mb-3 col p-2">Products</a>
                <a href="/parameters/list" class="btn btn-primary btn-sm mb-3 col p-2">Parameters</a>
                <a href="/transactions/list" class="btn btn-primary btn-sm mb-3 col p-2">Transactions</a>
                <a href="/users/list" class="btn btn-primary btn-sm mb-3 col p-2">Users</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid row">
        <div class="d-flex align-items-end flex-column">
            <br>
        <div class="row">
            <form class="input-group row mb-4 gy-1 gx-1 bg-outline-secondary flex-nowrap" action="/advanceDays"
                  method="post">
                <div class="input-group-text col-auto fw-semibold">Advance</div>
                <input type="number" class="form-control text-center w-25" name="daysToAdd" value="1">
                <div class="input-group-text col-auto fw-semibold">days</div>
                <button type="submit" class="btn btn-outline-secondary col-auto fw-semibold text-nowrap">Go >></button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
        </div>
    </div>

    <br>
    <div class="container">

    <div class="container row gap-2">
            <a href="/balances/list" class="btn btn-primary btn-sm mb-3 col p-2">Balances</a>
            <a href="/chickens/list" class="btn btn-warning btn-sm mb-3 col p-2">Chickens</a>
            <a href="/eggs/list" class="btn btn-warning btn-sm mb-3 col p-2">Eggs</a>
            <a href="/logs/list" class="btn btn-danger btn-sm mb-3 col p-2">Logs</a>
            <a href="/products/list" class="btn btn-primary btn-sm mb-3 col p-2">Products</a>
            <a href="/parameters/list" class="btn btn-primary btn-sm mb-3 col p-2">Parameters</a>
            <a href="/transactions/list" class="btn btn-primary btn-sm mb-3 col p-2">Transactions</a>
            <a href="/users/list" class="btn btn-primary btn-sm mb-3 col p-2">Users</a>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col">
                <div class="card h-100">
                    <h4 class="card-header">Balance / Operations</h4>
                    <div class="card-body row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card text-center h-100 border-info">
                                <h5 class="card-header text-bg-info">Total</h5>
                                <div class="card-body">
                                    <h1 class="card-title">$ <span class="card-title" th:text="${lastBalance}"></span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-success">
                                <h5 class="card-header text-bg-success">Sales</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-success">$ <span class="card-title"
                                                                                th:text="${salesSum}"></span></h1>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Operations: <span class="text-muted"
                                                                                th:text="${salesCount}"></span></small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-danger">
                                <h5 class="card-header text-bg-danger">Purchases</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-danger">$ <span class="card-title"
                                                                               th:text="${purchasesSum}"></span></h1>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Operations: <span class="text-muted"
                                                                                th:text="${purchasesCount}"></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <h4 class="card-header">Eggs</h4>
                    <div class="card-body row row-cols-1 row-cols-md-5 g-4">
                        <div class="col">
                            <div class="card text-center h-100 border-info">
                                <h5 class="card-header text-bg-info">Total</h5>
                                <div class="card-body">
                                    <h1 class="card-title" th:text="${eggsCount}"></h1>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Capacity: <span class="card-title"
                                                                              th:text="${eggsCapacity}"></span></small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-success">
                                <h5 class="card-header text-bg-success">Sold</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-success" th:text="${eggSales}"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-danger">
                                <h5 class="card-header text-bg-danger">Bought</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-danger" th:text="${eggPurchases}"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-warning">
                                <h5 class="card-header text-bg-warning text-nowrap">Hatched</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-warning" th:text="${hatchedEggs}"></h1>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Next: ##</small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-dark">
                                <h5 class="card-header text-bg-dark text-nowrap">Discarded</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-dark">##</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <h4 class="card-header">Chickens</h4>
                    <div class="card-body row row-cols-1 row-cols-md-5 g-4">
                        <div class="col">
                            <div class="card text-center h-100 border-info">
                                <h5 class="card-header text-bg-info">Total</h5>
                                <div class="card-body">
                                    <h1 class="card-title" th:text="${chickensCount}"></h1>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Capacity: <span class="card-title"
                                                                              th:text="${chickenCapacity}"></span></small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-success">
                                <h5 class="card-header text-bg-success">Sold</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-success" th:text="${chickenSales}"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-danger">
                                <h5 class="card-header text-bg-danger">Bought</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-danger" th:text="${chickenPurchases}"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-warning">
                                <h5 class="card-header text-bg-warning text-nowrap">Deceased</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-warning" th:text="${deadChicken}"></h1>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Next: ##</small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center h-100 border-dark">
                                <h5 class="card-header text-bg-dark text-nowrap">Discarded</h5>
                                <div class="card-body">
                                    <h1 class="card-title text-dark">##</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer class="help-footnote">
        <br>
        <hr>
        <a th:href="@{https://www.linkedin.com/in/fedeperrone/}"> ChickenTest By: Federico Perrone. Accenture -
            2023. </a>
    </footer>
</div>
</body>
</html>




