<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Transaction Directory</title>
</head>

<body>

<div class="container">
    <h3>Transaction Directory</h3>
    <hr>

    <a th:href="@{/transactions/showAddTransactionForm}" class="btn btn-primary btn-sm mb-3">New Transaction</a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Observations</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTransactionDetail : ${transactionDetails}">
            <td th:text="${tempTransactionDetail.transaction.transactionId}"/>
            <td th:text="${tempTransactionDetail.transaction.balance.balanceType}" />
            <td th:text="${tempTransactionDetail.transaction.transactionDate}"/>
            <td th:text="${tempTransactionDetail.product.productName}"/>
            <td th:text="${tempTransactionDetail.quantity}"/>
            <td th:text="${tempTransactionDetail.price}"/>
            <td th:text="${tempTransactionDetail.transaction.transactionTotal}"/>
            <td th:text="${tempTransactionDetail.transaction.transactionObservations}"/>
        </tr>
        </tbody>
    </table>
</div>

<footer class="help-footnote">
    <hr>
    <a th:href="@{/index.html}"> << Back to Homepage</a>
</footer>

</body>
</html>



