<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <title>New Transaction</title>
</head>

<body>

<div class="container-fluid">
    <br>
    <h3>Transaction Directory</h3>
    <hr>
    <p class="h4 mb-4">New Transaction</p>

    <div class="container-fluid row">
        <div class="container col-2">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="type">
                <option value="1">Sell</option>
                <option value="2">Buy</option>
            </select>
        </div>
        <div class="container col-2">
            <label for="product" class="form-label ">Product</label>
            <select class="form-select" id="product">
                <option value="0"></option>
                <option value="1">Egg</option>
                <option value="2">Chicken</option>
            </select>
        </div>
        <div class="container col-2">
            <label for="quantity" class="form-label ">Quantity</label>
            <input type="number" id="quantity" class="form-control col-2 md-2">
        </div>
        <div class="container col-2">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="number" id="price" class="form-control col-2 md-2" placeholder="0.00">
            </div>
        </div>
        <div class="container col-4">
            <p class="form-label ">Subtotal</p>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">$</span>
                <span type="number" id="subtotal" class="form-control col-2 md-2 text-end" readonly></span>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid row justify-content-end">
        <div class="col-8 align-self-start">
            <label for="observations" class="form-label fw-semibold">Observations</label>
            <input id="observations" type="text" class="form-control">
        </div>
        <div class="col-4 align-self-end">
            <p class="form-label fw-semibold">Total </p>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">$</span>
                <span id="total" type="number" class="form-control text-end" readonly></span>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container-fluid row justify-content-end">
        <div th:if="${notification}" class="alert alert-success col-8">
            <p th:text="${notification}">success</p>
        </div>
        <div class="col offset-md-8">
            <div class="d-grid mx-auto">
                <button id="save" class="btn btn-outline-success btn-lg">Save</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </div>
        </div>
    </div>

</div>

<br>

<footer class="help-footnote">
    <hr>
    <a th:href="@{/transactions/list}">< Back to Transactions List</a>
    <br>
    <a th:href="@{/index.html}"> << Back to Homepage</a>
</footer>


<script src="../js/transaction.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>

