<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Product</title>
</head>

    <body>
        <div class="container">
            <h3>Product Directory</h3>
            <hr>
            <p class="h4 mb-4">Save Product</p>
            <form action="#" th:action="@{/products/save}" th:object="${product}" method="POST">
                <input type="hidden" th:field="*{productId}">
                <input type="text" th:field="*{productName}" class="form-control mb-4 w-25" placeholder="Name">
                <input type="text" th:field="*{productValue}" class="form-control mb-4 w-25" placeholder="Value">
                <input type="text" th:field="*{productStock}" class="form-control mb-4 w-25" placeholder="Stock">
                <button type="submit" class="btn btn-info col-2">Save</button>
            </form>
        </div>

        <footer class="help-footnote">
            <hr>
            <a th:href="@{/products/list}">< Back to Products List</a>
            <br>
            <a th:href="@{/index.html}"> << Back to Homepage</a>
        </footer>

    </body>

</html>

