<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Save User</title>
</head>

<body>

<!-- menu -->
<div class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container">
        <div class="container col-3">
            <a class="btn btn-outline-secondary" type="button" href="/users/list"><< Back</a>
            <a class="btn btn-outline-success" type="button" href="/index">Home</a>
            <button class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseMenu" role="button"
                    aria-expanded="false" aria-controls="collapseMenu"> Menu
            </button>
        </div>
        <div class="container row col-9">
            <h3 class="text-muted col-auto">Chicken Test > User Directory > <h3 class="col-auto">User</h3></h3>
        </div>
    </div>
</div>

<div class="collapse sticky-top sticky-top" id="collapseMenu">
    <div class="card card-body">
        <div class="container">
            <div class="container row gap-2">
                <a type="button" class="btn-close col gx-5" data-bs-toggle="collapse" href="#collapseMenu" role="button"
                   aria-expanded="false" aria-controls="collapseMenu"></a>
                <a href="/balances/list" class="btn btn-primary btn-sm mb-3 col p-2">Balances</a>
                <a href="/chickens/list" class="btn btn-warning btn-sm mb-3 col p-2">Chickens</a>
                <a href="/eggs/list" class="btn btn-warning btn-sm mb-3 col p-2" type="button">Eggs</a>
                <a href="/logs/list" class="btn btn-danger btn-sm mb-3 col p-2">Logs</a>
                <a href="/products/list" class="btn btn-primary btn-sm mb-3 col p-2">Products</a>
                <a href="/parameters/list" class="btn btn-primary btn-sm mb-3 col p-2">Parameters</a>
                <a href="/transactions/list" class="btn btn-primary btn-sm mb-3 col p-2">Transactions</a>
                <a href="/users/list" class="btn btn-primary btn-sm mb-3 col p-2">Users</a>
            </div>
        </div>
    </div>
</div>

<!-- main content-->
<div class="container">
    <div class="container">

        <br>

        <form action="#" th:action="@{/users/save}" th:object="${user}" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control mb-4 w-25" id="firstName" th:field="*{firstName}"
                       placeholder="Stock">
                <label for="firstName">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control mb-4 w-25" id="lastName" th:field="*{lastName}"
                       placeholder="Stock">
                <label for="lastName">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control mb-4 w-25" id="username" th:field="*{username}"
                       placeholder="Stock">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control mb-4 w-25" id="email" th:field="*{email}"
                       placeholder="Stock">
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control mb-4 w-25" id="userObservations" th:field="*{userObservations}"
                       placeholder="Stock">
                <label for="userObservations">Observations</label>
            </div>

            <button th:href="@{/users/showUpdatePasswordForm}" class="btn btn-warning col-5" th:disabled="true">Change
                Password
            </button>
            <br><br>

            <button type="submit" class="btn btn-primary col-2 p-2">Save</button>
            <input type="hidden" th:field="*{userId}">

        </form>
    </div>

    <footer class="help-footnote">
        <br>
        <hr>
        <a th:href="@{https://www.linkedin.com/in/fedeperrone/}"> ChickenTest By: Federico Perrone. Accenture -
            2023. </a>
    </footer>
</div>
</body>

</html>

